sudo: false

language: rust
cache:
  directories:
    - /home/travis/.cargo

os:
- linux
- osx

osx_image: xcode7.1

rust:
- 1.32.0
- nightly
- beta
- stable

addons:
  apt:
    packages:
    - libssl-dev

before_script:
- if [[ -e ~/.local/bin ]]; then export PATH=~/.local/bin:$PATH; fi
- echo PATH is $PATH
- export RUST_BACKTRACE=1

script: ./ci/script.sh

env:
  matrix:
    - GIMLI_JOB="test"              GIMLI_PROFILE=
    - GIMLI_JOB="build"             GIMLI_PROFILE="--no-default-features --features read,std"
    - GIMLI_JOB="build"             GIMLI_PROFILE="--no-default-features --features write"

matrix:
  fast_finish: true
  include:
    # Coverage should only run on Linux. tarpaulin currently requires nightly Rust.
    - rust: nightly
      os: linux
      sudo: required
      env: GIMLI_JOB="coverage"     GIMLI_PROFILE=
    # Building docs only needs to happen on one os and only on stable.
    - rust: stable
      os: linux
      env: GIMLI_JOB="doc"          GIMLI_PROFILE=
    # Benching should only happen on nightly.
    - rust: nightly
      env: GIMLI_JOB="bench"        GIMLI_PROFILE=
    # The no-std/alloc build should only happen on nightly.
    - rust: nightly
      env: GIMLI_JOB="alloc"        GIMLI_PROFILE=
    # Build a 32 bit target.
    - rust: stable
      sudo: required
      services: docker
      env:
        - TARGET=i686-unknown-linux-gnu
        - GIMLI_JOB=cross
        - GIMLI_PROFILE=
    # Build a big-endian target.
    - rust: stable
      sudo: required
      services: docker
      env:
        - TARGET=powerpc64-unknown-linux-gnu
        - GIMLI_JOB=cross
        - GIMLI_PROFILE=
  allow_failures:
    - env: GIMLI_JOB="alloc"        GIMLI_PROFILE=
